.seccion_amigos .contenedor{
    width: 1080px;
    display: flex;
    justify-content: space-between;
}

.seccion_amigos .item{
    width: 333px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 24px;
    opacity: 0;
}

.seccion_amigos .item > img{
    border: 9px solid var(--color_lightblue);
    border-radius: 41px;
}

.seccion_amigos .item.aparecerCard{
    animation: 1s ease-in mostrarCards forwards;
}

@keyframes mostrarCards {
    0%{
        opacity: 0;
        transform: translateY(500px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
