body{
    width: 1280px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

header{
    width: 1280px;
    height: 227px;
    background: var(--degrade_header);
    z-index: 260;
    position: sticky;
    top: 0;
    transition: .5s ease-in;
}

header.scrolleando{
    height: 103px;
    z-index: 500;
    transition: .5s ease-in;
}

.seccion_edificios{
    height: calc(720px + 100px);
    margin-top: -100px;
}

.seccion_conocer{
    width: 1280px;
    height: calc(844.5px + 209px);
    display: flex;
    justify-content: center;
    margin-top: -70px;
    z-index: 100;
}

.seccion_amigos{
    width: 1280px;
    display: flex;
    justify-content: center;
}