.seccion_edificios{
    width:100% ;
    position: relative;
    overflow-x: clip;
}
.seccion_edificios .cielo{
    z-index: 5;
    width: 100%;
    height: 130%;
    position: absolute;
    top: -100px;
}
.seccion_edificios img.edificio{
    position: absolute;
    bottom: 0;
}

.seccion_edificios img.edificio.izquierda{
    left: -54px;
    z-index: 35;
    bottom: -35px;
}

.seccion_edificios img.edificio.medio{
    left: 381px;
    z-index: 20;
}

.seccion_edificios img.edificio.derecha{
    right: -8px;
    z-index: 30;
}


.seccion_edificios .spiderman{
    position: absolute;
}

.seccion_edificios .spiderman.violeta{
    z-index: 250;
    left: 90px;
    top: 262px;
    width: 360px;
    height: 444px;
}

.seccion_edificios .spiderman.rojo{
    z-index: 260;
    width: 465px;
    height: 465px;
    top: calc(262px + 15px);
    left: 405px;
}

.seccion_edificios .spiderman.negro{
    z-index: 270;
    width: 393px;
    height: 393px;
    top: 209px;
    right: 192px;
}

.seccion_edificios .telaaraña{
    position: absolute;
    z-index: 300;
}

.seccion_edificios .telaaraña.roja{
    left: -180px;
    top: 250px;
}
.seccion_edificios .telaaraña.negra{
    top: 263px;
    right: -146px;
}